@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

#uploader {
  width: 100%;
  height: 400px;
}

.uppy-Dashboard-Item {
  cursor: pointer;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.uppy-Dashboard-poweredBy {
  display: none !important;
}

.results {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.results thead tr {
    background-color: #009879;
    color: #ffffff;
}

.results th,
.results td {
    text-align: left;
    padding: 12px 15px;
}

.results tbody tr {
    border-bottom: 1px solid #dddddd;
}

.results tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.results tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.results tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}